FORMAT: 1A
HOST: http://private-9473c-marionguyen.apiary-mock.com/

# API cho hệ thống Loop.vn

Tài liệu đặc tả chi tiết các API được sử dụng trong hệ thống Loop.vn.

## Ngân hàng câu hỏi [/questions]

### Liệt kê các câu hỏi [GET]
Mỗi câu hỏi trả về sẽ bao gồm các thuộc tính sau:
- name: Nội dung câu hỏi
- questionTypeId: Id của kiểu câu hỏi (mặc định = 1 cho tất cả các câu hỏi trong dự án Loop)
- difficulty: Độ khó của câu hỏi (1-4)
- options: Danh sách các câu trả lời (option)
- isAnswer: Đáp án đúng sai
- isActive: Trạng thái hoạt động của câu hỏi

Ngoài ra, bộ câu hỏi cũng được đính kèm các thiết lập (config) để tuy biến:
- allowBack: cho phép quay trở lại xem câu hỏi cũ
- allowReview: cho phép xem lại toàn bộ các câu trả lời
- autoMove: sau khi trả lời ứng dụng sẽ tự động chuyển sang câu mới
- duration: quy định thời gian hoàn thành. 0 có nghĩa là không giới hạn.
- pageSize: số lượng trang (mặc định = 1 cho dự án Loop)
- requiredAll: quy định phải trả lời tất cả các câu hỏi trước khi submit.
- richText: cho phép nhập nội dung dạng Richtext (để sẵn cho phần học Tiếng Anh)
- shuffleQuestions: hiển thị ngẫu nhiên các câu hỏi
- showClock: Hiển thị đồng hồ
- showPager: Hiển thị trang (có thể sẽ dùng cho đề Tiếng Anh)

+ Response 200 (application/json)
```
{
  "id": 1,
  "name": "Câu hỏi về hình học cơ bản",
  "description": "Hình học cơ bản (Hình vuông, hình chữ nhật, hình tam giác...)",
  "config": {
    "allowBack": true,
    "allowReview": true,
    "autoMove": false,
    "duration": 0,
    "pageSize": 1,
    "requiredAll": false,
    "richText": false,
    "shuffleQuestions": false,
    "showClock": false,
    "showPager": true,
    "theme": "none"
  },
  "questions": [
    {
      "id": 1010,
      "name": "Hình nào dưới đây có 4 cạnh bằng nhau?",
      "questionTypeId": 1,
      "difficulty": 1,
      "options": [
        {
          "id": 1055,
          "questionId": 1010,
          "name": "Vuông",
          "isAnswer": true
        },
        {
          "id": 1056,
          "questionId": 1010,
          "name": "Chữ nhật",
          "isAnswer": false
        },
        {
          "id": 1057,
          "questionId": 1010,
          "name": "Thoi",
          "isAnswer": false
        },
        {
          "id": 1058,
          "questionId": 1010,
          "name": "Thang",
          "isAnswer": false
        }
      ],
      "questionType": {
        "id": 1,
        "name": "Multiple Choice",
        "isActive": true
      }
    },
    {
      "id": 1011,
      "name": "Hình tam giác có mấy cạnh?",
      "questionTypeId": 1,
      "difficulty": 2,
      "options": [
        {
          "id": 1055,
          "questionId": 1010,
          "name": "1",
          "isAnswer": false
        },
        {
          "id": 1057,
          "questionId": 1010,
          "name": "2",
          "isAnswer": false
        },
        {
          "id": 1056,
          "questionId": 1010,
          "name": "3",
          "isAnswer": true
        },
        {
          "id": 1058,
          "questionId": 1010,
          "name": "4",
          "isAnswer": false
        }
      ],
      "questionType": {
        "id": 1,
        "name": "Multiple Choice",
        "isActive": true
      }
    },
    {
      "id": 1012,
      "name": "Tìm chu vi của hình vuông có cạnh bằng 8",
      "questionTypeId": 1,
      "difficulty": 3,
      "options": [
        {
          "id": 1055,
          "questionId": 1010,
          "name": "12",
          "isAnswer": false
        },
        {
          "id": 1057,
          "questionId": 1010,
          "name": "16",
          "isAnswer": false
        },
        {
          "id": 1056,
          "questionId": 1010,
          "name": "18",
          "isAnswer": false
        },
        {
          "id": 1058,
          "questionId": 1010,
          "name": "32",
          "isAnswer": true
        }
      ],
      "questionType": {
        "id": 1,
        "name": "Multiple Choice",
        "isActive": true
      }
    }
  ]
}
```
### Tạo câu hỏi mới [POST]

Người nhập liệu sẽ sử dụng API để tạo câu hỏi mới trong ngân hàng. 

+ Request (application/json)
```
    {
      "id": 1010,
      "name": "Hình nào dưới đây có 4 cạnh bằng nhau?",
      "questionTypeId": 1,
      "difficulty": 1,
      "options": [
        {
          "id": 1055,
          "questionId": 1010,
          "name": "Vuông",
          "isAnswer": true
        },
        {
          "id": 1056,
          "questionId": 1010,
          "name": "Chữ nhật",
          "isAnswer": false
        },
        {
          "id": 1057,
          "questionId": 1010,
          "name": "Thoi",
          "isAnswer": false
        },
        {
          "id": 1058,
          "questionId": 1010,
          "name": "Thang",
          "isAnswer": false
        }
      ],
      "questionType": {
        "id": 1,
        "name": "Multiple Choice",
        "isActive": true
      }
    }
```
+ Response 201 (application/json)

    + Headers

            Location: /questions/1
            
    + Body
```
    {
      "id": 1010,
      "name": "Hình nào dưới đây có 4 cạnh bằng nhau?",
      "questionTypeId": 1,
      "difficulty": 1,
      "options": [
        {
          "id": 1055,
          "questionId": 1010,
          "name": "Vuông",
          "isAnswer": true
        },
        {
          "id": 1056,
          "questionId": 1010,
          "name": "Chữ nhật",
          "isAnswer": false
        },
        {
          "id": 1057,
          "questionId": 1010,
          "name": "Thoi",
          "isAnswer": false
        },
        {
          "id": 1058,
          "questionId": 1010,
          "name": "Thang",
          "isAnswer": false
        }
      ],
      "questionType": {
        "id": 1,
        "name": "Multiple Choice",
        "isActive": true
      }
    }
```